@import 'colors';

.tmDropdown-wrapper *{
    box-sizing:border-box;
}
.tmDropdown-wrapper{
    box-sizing:border-box;
    cursor:pointer;
    position:relative;
    background:#ffffff;
    display:inline-block;
    -moz-user-select:none;
    user-select:none;

    &.tmDropdown-open{
        z-index:1001;	
    }
    
    &.tmDropdown-multiple{
        min-width:500px;
        max-width:100%;
    }
}
.tmDropdown-current{
    border:1px solid $tmdColorPrimary;
    padding:5px 15px 5px 3px;
    font-size:13.33333px;
    &:after {
        content: ' ';
        height: 15px;
        width: 15px;
        background: url(img/select_arrow.png) center no-repeat;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        right: 0;
    }
}

.tmDropdown-current-item {
    display: inline-block;
    border: 1px solid lighten($tmdColorPrimary, 10%);
    padding: 0.25em 0.6em;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    border-radius: 0.3em;
    
    &:hover{
        opacity:0.65;
        background-color:lighten($tmdColorPrimary,50%);
    }
}

.tmDropdown-ul{
    z-index:10000;
    background:#ffffff;
    border:1px solid $tmdColorPrimary;
    border-top:0;
    max-height: 200px;
    overflow: auto;
    margin:0;
    list-style-type:none;
    padding:0;
    display:none;
    box-sizing:border-box;
    user-select:none;
}

.tmDropdown-ul.tmDropdown-ul-top{
    border-bottom:0;
    border-top:1px solid $tmdColorPrimary;
}


.tmDropdown-li{
    padding:3px 2px;
    cursor:pointer;
    &:hover{
        background:lighten($tmdColorPrimary,10%);
        color:$tmdFontColorActive;
    }
}

.tmDropdown-active{
    background-color:$tmdColorPrimary;
    color:$tmdFontColorActive;
}
.tmDropdown-disabled{
    color:$tmdFontColorDisabled;
    &:hover{
        background-color:$tmdColorDisabled;
    }
}

.tmDropdown-optgroup-label {
    font-weight: 700;
    padding-left:3px;
}

.tmDropdown-optgroup-options {
    list-style-type: none;
    padding-left:0;
    .tmDropdown-li{
        padding:3px 2px 3px 14px;
    }
}