@import 'colors';

.tmDropdown-wrapper *{
    box-sizing:border-box;
}
.tmDropdown-wrapper{
    box-sizing:border-box;
    cursor:pointer;
    position:relative;
    background:#ffffff;
    display:inline-block;
    -moz-user-select:none;
    user-select:none;

    &.tmDropdown-open{
        z-index:1001;	
    }
}
.tmDropdown-current{
    border:1px solid $colorPrimary;
    padding:5px 15px 5px 3px;
    font-size:13.33333px;
    &:after {
        content: ' ';
        height: 15px;
        width: 15px;
        background: url(img/select_arrow.png) center no-repeat;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        right: 0;
    }
}

.tmDropdown-ul{
    z-index:10000;
    background:#ffffff;
    border:1px solid $colorPrimary;
    border-top:0;
    max-height: 200px;
    overflow: auto;
    margin:0;
    list-style-type:none;
    padding:0;
    display:none;
    box-sizing:border-box;
    user-select:none;
}

.tmDropdown-ul.tmDropdown-ul-top{
    border-bottom:0;
    border-top:1px solid $colorPrimary;
}


.tmDropdown-li{
    padding:3px 2px;
    cursor:pointer;
    &:hover{
        background:$colorPrimary;
        color:$fontColorActive;
    }
}

.tmDropdown-active{
    background-color:$colorPrimary;
    color:$fontColorActive;
}
.tmDropdown-disabled{
    color:$fontColorDisabled;
    &:hover{
        background-color:$colorDisabled;
    }
}

.tmDropdown-optgroup-label {
    font-weight: 700;
    padding-left:3px;
}

.tmDropdown-optgroup-options {
    list-style-type: none;
    padding-left:0;
    .tmDropdown-li{
        padding:3px 2px 3px 14px;
    }
}